
body {
	font-family: 'Raleway', sans-serif !important;
	background-color: #252934 !important;
	color: white !important;
	text-align: center;
	margin:0;
	padding: 0;
}
/* experience/portrait */
section #me {
	display: block;
	width: 35%;
	height: 35%;
	margin-right: 40px;
	border: 3px white solid;
	
}

h1 {
    position:relative;
    display:inline-block;
   	margin: 40px auto;

}
h1:after {
    content:'';
    position:absolute;
    left:0; right:0;
    top:100%;
    margin:10px auto;
    width:30%;
    height:5px;
    background:#fff;

}

section.about #skills {
	padding-top: 35px;
}

/* Projects */
#projects a img {
	margin-bottom: 2em;
	border-radius: 6%;
	height: 16em;
	width: 100%;
} 

/* Contact form */
#contact form input,
#contact form textarea {
	width: 80%;
	margin: 0 auto;
}

#contact form label {
	font-size: 18px;
	font-weight: 300;
}

#contact form button {
	width: 20%;
	font-weight: 600;
	border: 1.5px solid mediumvioletred;
}


/* footer */
footer {
	
	margin-top: 2em;
	height: 15em;
	background-color: white;
	color: darkslategray;
	font-weight: 600;
	left: 0;
	width: 100%;
	position: absolute;
	border-top: 2px solid mediumvioletred;
	
}

#info a {
	text-decoration: none;

}

#social a {
	font-size: 40px;
	letter-spacing: 5px;
	
}
p span {
	color: #cd1d67;
}


/* Media queries*/

@media only screen and (max-width: 768px) {
	#me {
		margin-left: 33%
	}
	#projects a img {
		width: 70%;
		margin: 15px auto;
	}

	
}

@media only screen and (min-width: 768px) {
	footer {
		padding-top: 3em;
	}
	h1 {
		padding-top: 50px;
	}
	#contact form input,
	#contact form textarea {
	width: 70%;
	}
}